.super-mario, .goomba, .bowser, .baloon, .word {
    position: absolute;
}

.super-mario, .goomba, .bowser {
    width: 250px;
    left: 150px;
}

.super-mario {
    top: 100px;
    z-index: 1;
    transition: 2s;
}

.super-mario:hover {
    width: 500px;
}

.goomba {
    top: 500px;
    z-index: 1;
}

.bowser {
    top: 980px;
    z-index: 1;
}

.baloon {
    z-index: 2;
    width: 200px;
    left: 20px;
    top: 880px;
}

.word {
    z-index: 3;
    left: 30px;
    top: 910px;
}
